*~
_*
*.o
*.d
*.asm
*.sym
*.img
vectors.S
bootblock
entryother
initcode
initcode.out
kernelmemfs
mkfs
kernel/kernel
user/usys.S
.gdbinit

# The course report contains personal information and is submitted separately.
docs/

# Local grading transcripts.
xv6.out
xv6.out.*
